<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017, 2021 University of Southampton.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        University of Southampton - initial API and implementation
 -->

<plugin>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <menu
               id="ac.soton.eventb.emf.inclusion.menu"
               label="Machine Inclusion"
               tooltip="Machine Inclusion menu">
            <command
                  commandId="ac.soton.eventb.emf.inclusion.commands.include"
                  label="Include"
                  style="push"
                  tooltip="Flatten Included Machines" >            
                   <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
              <test property="org.eclipse.core.resources.extension" value="bumx" />
         </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
          </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
     <category
        description="Commands associated with Machine Inclusion"
        id="ac.soton.eventb.emf.inclusion.commands"
        name="Machine Inclusion Commands">
      </category>
      <command
            categoryId="ac.soton.eventb.emf.inclusion.commands"
            defaultHandler="ac.soton.emf.translator.eventb.handler.EventBTranslateHandler"
            description="flatten included machines"        
             id="ac.soton.eventb.emf.inclusion.commands.include"
            name="Include Machines">
      </command>
   </extension>
   

   <extension
         point="ac.soton.emf.translators">
      <translator
            adapter_class="ac.soton.emf.translator.eventb.adapter.EventBTranslatorAdapter"
            command_id="ac.soton.eventb.emf.inclusion.commands.include"
            name="Inclusion"
            root_source_class="Machine"
            source_package="http://emf.eventb.org/models/core/machine/2022"
            translator_id="ac.soton.eventb.emf.inclusion.translator">
      </translator>
   </extension>
   <extension
         point="ac.soton.emf.translator.rulesets">
      <ruleset
            name="InclusionRules"
            translator_id="ac.soton.eventb.emf.inclusion.translator">
         <rule
               name="MachineInclusionRule"
               rule_class="ac.soton.eventb.emf.inclusion.generator.rules.MachineInclusionRule"
               source_class="MachineInclusion"
               source_package="http://soton.ac.uk/models/eventb/inclusion/2017">
         </rule>
         <rule
               name="EventSynchronisationRule"
               rule_class="ac.soton.eventb.emf.inclusion.generator.rules.EventSynchronisationRule"
               source_class="EventSynchronisation"
               source_package="http://soton.ac.uk/models/eventb/inclusion/2017">
         </rule>
      </ruleset>
   </extension>

</plugin>
