<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ac.soton.eventb.emf.inclusion.presentation.InclusionModelWizardID"
            name="%_UI_InclusionModelWizard_label"
            class="ac.soton.eventb.emf.inclusion.presentation.InclusionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InclusionModelFile.gif">
         <description>%_UI_InclusionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ac.soton.eventb.emf.inclusion.presentation.InclusionEditorID"
            name="%_UI_InclusionEditor_label"
            icon="icons/full/obj16/InclusionModelFile.gif"
            extensions="inclusion"
            class="ac.soton.eventb.emf.inclusion.presentation.InclusionEditor"
            contributorClass="ac.soton.eventb.emf.inclusion.presentation.InclusionActionBarContributor">
      </editor>
   </extension>

</plugin>
