<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2017, 2021 University of Southampton.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        University of Southampton - initial API and implementation

	$Id$
 -->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://soton.ac.uk/models/eventb/inclusion/2017"
            class="ac.soton.eventb.emf.inclusion.provider.InclusionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://emf.eventb.org/models/core/machine/2014"
            class="ac.soton.eventb.emf.inclusion.provider.InclusionItemProviderAdapterFactory$CoreChildCreationExtender"/>
   </extension>

   <extension
         point="org.eventb.emf.persistence.synchroniser">
      <emfPackage
            name="Machine Inclusion Package"
            nsURI="http://soton.ac.uk/models/eventb/inclusion/2017">
         <synchroniser
               emf_class="MachineInclusion"
               name="Machine lncusion Synchroniser"
               rodin_id="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension"
               synchroniser_class="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtensionSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="EventSynchronisation"
               name="Event Synchronisation Synchroniser"
               rodin_id="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension"
               synchroniser_class="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtensionSynchroniser">
         </synchroniser>
      </emfPackage>
   </extension>
   
</plugin>
